<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://piton4eg.herokuapp.com/">News</a></li>
      <li><a href="http://piton4eg.herokuapp.com/">Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>