<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://piton4eg.herokuapp.com/">News</a></li>
      <li><a href="http://piton4eg.herokuapp.com/">Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>